<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta th:field="*{viewport}" content="width=device-width, initial-scale=1.0" />
    <title th:text="${isCreate} ? 'Create' : 'Edit'"></title>

    <!-- FAVICON -->
    <link rel="icon" href="#" sizes="16x16 24x24 48x48 64x64 128x128" />

    <!-- IMPORT CSS -->
    <th:block th:replace="~{fragments :: import-css}"></th:block>

    <!-- IMPORT INPUT PLACE FINDER -->
    <th:block th:replace="~{fragments :: import-maps}"></th:block>

    <!-- CALCULATE LAT AND LON - SHOW INPUT SUGGESTIONS JS -->
    <script th:src="@{/js/geocode.js}" defer></script>
  </head>
  <body>
    <!-- Header -->
    <header class="mb-5">
      <th:block th:replace="~{fragments :: navbar('addTravel')}"></th:block>
    </header>

    <!-- Main -->
    <main class="container my-5">
      <!-- FORM -->
      <form class="row g-3" th:action="${isCreate} ? @{|/travel/create|} : @{/travel/edit/{id}(id=*{id})}" th:object="${travel}" method="POST">
        <!-- Place -->
        <div class="col-md-6 position-relative">
          <label for="place" class="form-label fw-semibold">* Place</label>
          <input type="text" id="place" class="form-control" th:field="*{place}" autocomplete="off" required />
          <!-- Suggestions List -->
          <ul id="suggestions" class="list-group position-absolute top-100 start-0 end-0 z-2 hover-pointer li-border-gray"></ul>

          <!-- Invisible fields for latitude and longitude (they fill in automatically) -->
          <input type="hidden" id="latitude" th:field="*{latitude}" />
          <input type="hidden" id="longitude" th:field="*{longitude}" />
        </div>

        <!-- Date -->
        <div class="col-md-6">
          <label for="date" class="form-label fw-semibold">* Date</label>
          <input type="date" id="date" class="form-control" th:field="*{date}" required />
        </div>

        <!-- Description -->
        <div class="col-12">
          <label for="description" class="form-label fw-semibold">* Description</label>
          <textarea id="description" class="form-control" th:field="*{description}" required></textarea>
        </div>

        <!-- Strength Rating -->
        <div class="col-md-6">
          <label for="strengthRating" class="form-label fw-semibold">* Strength Rating (1-5)</label>
          <input type="number" id="strengthRating" class="form-control" th:field="*{strengthRating}" min="1" max="5" required />
        </div>

        <!-- Monetary Rating -->
        <div class="col-md-6">
          <label for="monetaryRating" class="form-label fw-semibold">* Monetary Rating (1-5)</label>
          <input type="number" id="monetaryRating" class="form-control" th:field="*{monetaryRating}" min="1" max="5" required />
        </div>

        <!-- Cost -->
        <div class="col-12">
          <label for="cost" class="form-label fw-semibold">* Cost</label>
          <input type="number" id="cost" class="form-control" th:field="*{cost}" step="0.01" min="0" required />
        </div>

        <!-- Feelings -->
        <div class="col-12">
          <label for="feelings" class="form-label fw-semibold">Feelings</label>
          <input type="text" id="feelings" class="form-control" th:field="*{feelings}" />
        </div>

        <!-- Reflection Positive -->
        <div class="col-md-6">
          <label for="reflectionPos" class="form-label fw-semibold">Reflection Positive</label>
          <textarea id="reflectionPos" class="form-control" th:field="*{reflectionPos}"></textarea>
        </div>

        <!-- Reflection Negative -->
        <div class="col-md-6">
          <label for="reflectionNeg" class="form-label fw-semibold">Reflection Negative</label>
          <textarea id="reflectionNeg" class="form-control" th:field="*{reflectionNeg}"></textarea>
        </div>

        <!-- Tags -->
        <div class="col-12">
          <label class="form-label fw-semibold">Tags</label>
          <div class="d-flex gap-3">
            <div th:each="tag : ${tags}" class="form-check">
              <input class="form-check-input" type="checkbox"  th:id="${'tag-' + tag.id}" th:field="*{tags}" th:value="${tag.id}">
              <label class="form-check-label" th:for="${'tag-' + tag.id}"><span class="badge" th:text="${tag.name}" th:style="'background-color:' + ${tag.hexColor}"></span></label>
            </div>
          </div>

          <!-- Add new tag button -->
          <div class="text-center">
            <a class="btn btn-outline-success mt-3" th:href="@{/tag/create}" rel="noopener noreferrer">+ Create New Tag</a>
          </div>
        </div>


        <!-- Photos -->
        <div class="col-12">
          <label for="photos" class="form-label fw-semibold">Photo URLs</label>
          <input type="url" id="photos" class="form-control" th:field="*{photos}" placeholder="https://example.com/photo1.jpg">
        </div>

        <!-- Videos -->
        <div class="col-12">
          <label for="videos" class="form-label fw-semibold">Video URLs</label>
          <input type="url" id="videos" class="form-control" th:field="*{videos}" placeholder="https://youtube.com/...">
        </div>



        <!-- INFO -->
        <div class="col-12">
          <i>* = obligatory</i>
        </div>
        
        <!-- SUBMIT -->
        <div class="col-12 text-center">
          <button class="btn btn-lg btn-primary px-5" type="submit">Confirm</button>
        </div>
      </form>
    </main>
  </body>
</html>
