<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta th:field="*{viewport}" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>

    <!-- FAVICON -->
    <link rel="icon" href="#" sizes="16x16 24x24 48x48 64x64 128x128" />

    <!-- IMPORT CSS -->
    <th:block th:replace="~{fragments :: import-css}"></th:block>

    <!-- IMPORT MAPS -->
    <th:block th:replace="~{fragments :: import-maps}"></th:block>
    
    <!-- Show Maps in Page JS -->
    <script th:src="@{/js/maps-with-marker.js}" defer></script>
  </head>
  <body>
    <!-- Header -->
    <header class="mb-5">
      <th:block th:replace="~{fragments :: navbar('none')}"></th:block>
    </header>

    <!-- Main -->
    <main class="container my-5" th:object="${travel}">
      <div class="d-flex flex-column flex-lg-row mt-3">
        <!-- Images and Videos Carousel -->
        <div id="carousel" class="carousel slide">
          <!-- Images and Videos -->
          <div class="carousel-inner ratio ratio-4x3">
            <!-- If there are NOT Images or Videos -->
            <th:block th:if="${travel.photos.size() == 0 and travel.videos.size() == 0}">
              <!-- Fallback -->
              <div class="carousel-item active">
                <h2>No image</h2>
              </div>
            </th:block>

            <!-- Show all Images -->
            <th:block th:each="photo, iterStat : ${travel.photos}" th:if="${travel.photos.size() != 0}">
              <div class="d-flex align-items-center" th:classappend="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
                <img th:src="${photo}" class="d-block w-100" alt="Photo" />
              </div>
            </th:block>

            <!-- Show all Videos -->
            <th:block th:each="video, iterStat : ${travel.videos}" th:if="${travel.videos.size() != 0}">
              <div th:classappend="${(travel.photos.size() == 0 and iterStat.index == 0) ? 'carousel-item active' : 'carousel-item'}">
                <!-- iframe for YouTube/Vimeo videos -->
                <th:block th:if="${video.contains('youtube') or video.contains('youtu.be') or video.contains('vimeo')}">
                  <iframe th:src="${video}" width="100%" height="400" frameborder="0" allowfullscreen></iframe>
                </th:block>
                <!-- Video tag for other videos -->
                <th:block th:unless="${video.contains('youtube') or video.contains('youtu.be') or video.contains('vimeo')}">
                  <video controls class="d-block w-100" height="400">
                    <source th:src="${video}" />
                    Il tuo browser non supporta il tag video.
                  </video>
                </th:block>
              </div>
            </th:block>
          </div>

          <!-- Indicators -->
          <div class="carousel-indicators custom-thumbnails mt-3">
            <!-- If there are NOT Images or Videos -->
            <th:block th:if="${travel.photos.size() == 0 and travel.videos.size() != 0}">
              <!-- Fallback -->
              <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
                <h2>Empty</h2>
              </button>
            </th:block>

            <!-- Show Images Indicators -->
            <th:block th:each="photo, iterStat : ${travel.photos}" th:if="${travel.photos.size() != 0}">
              <button type="button"
                      data-bs-target="#carouselIndicators"
                      th:attr="data-bs-slide-to=${iterStat.index}, 
                        aria-current=${iterStat.index == 0} ? 'true' : null,
                        aria-label=${'Slide ' + (iterStat.index + 1)}"
                      th:classappend="${iterStat.index == 0} ? 'active' : ''">
                <img th:src="${photo}" alt="Thumbnail" class="hover-pointer" draggable="false" />
              </button>
            </th:block>

            <!-- Show Videos Indicators -->
            <th:block th:each="video, iterStat : ${travel.videos}" th:if="${travel.videos.size() != 0}">
              <button type="button"
                      data-bs-target="#carouselIndicators"
                      th:attr="data-bs-slide-to=${(travel.photos.size() + iterStat.index)}, 
                        aria-current=${(travel.photos.size() == 0 and iterStat.index == 0)} ? 'true' : null,
                        aria-label=${'Slide ' + (travel.photos.size() + iterStat.index + 1)}"
                      th:classappend="${(travel.photos.size() == 0 and iterStat.index == 0) ? 'active' : ''}">
                <!-- Icon or thymbnail for YouTube/Vimeo metti un’icona o thumbnail -->
                <th:block th:if="${video.contains('youtube') or video.contains('youtu.be') or video.contains('vimeo')}">
                  <img src="/assets/img/video-thumbnail.png" alt="Video Thumbnail" class="hover-pointer" draggable="false" />
                </th:block>
                <!-- Video tag for other videos -->
                <th:block th:unless="${video.contains('youtube') or video.contains('youtu.be') or video.contains('vimeo')}">
                  <video width="60" height="40" preload="metadata" muted>
                    <source th:src="${video}" />
                  </video>
                </th:block>
              </button>
            </th:block>
          </div>
        </div>

        <!-- Informations -->
        <div class="travel-details pt-4 pt-lg-3 pb-3 px-4">
          <div class="d-flex justify-content-between gap-2 align-items-start mb-1">
            <!-- Place -->
            <h2 id="place" class="mb-2" th:text="*{place}"></h2>
            
            <!-- Edit Travel -->
            <a class="transparent-link h-auto p-1" th:href="@{/travel/edit/{id} (id=*{id})}">
              <i class="fa-solid fa-pencil fs-1"></i>
            </a>
          </div>

          <!-- Date -->
          <h3 class="mb-4" th:text="*{date}"></h3>

          <h4>About the travel: </h4>
          <ul>
            <!-- Feelings -->
            <li class="card-text"> 
              <span class="fw-semibold">Feelings:</span>
              <p class="card-text d-inline m-0">
                € [[*{feelings}]]
              </p>
            </li>

            <!-- Rating -->
            <li class="card-text">
              <span class="fw-semibold">Strength Rating:</span>
              <p class="card-text d-inline m-0"
                th:with="pos=${#strings.repeat(&quot;<i class='fa-solid fa-hand-fist me-1'></i>&quot;, travel.strengthRating)}, neg=${#strings.repeat(&quot;<i class='fa-solid fa-hand-fist deselected me-1'></i>&quot;, 5 - travel.strengthRating)}" 
                th:utext="${pos + neg}"></p>
            </li>
            <li class="card-text">
              <span class="fw-semibold">Monetary Rating:</span>
              <p class="card-text d-inline m-0"
                th:with="pos=${#strings.repeat(&quot;<i class='fa-solid fa-dollar-sign me-1'></i>&quot;, travel.monetaryRating)}, neg=${#strings.repeat(&quot;<i class='fa-solid fa-dollar-sign deselected me-1'></i>&quot;, 5 - travel.monetaryRating)}" 
                th:utext="${pos + neg}"></p>
            </li>

            <!-- Cost -->
            <li class="card-text"> 
              <span class="fw-semibold">Cost:</span>
              <p class="card-text d-inline m-0">
                € [[*{cost}]]
              </p>
            </li>

            <!-- Coordinates (Invisible) -->
            <li id="latitude" class="d-none" th:text="*{latitude}"></li>
            <li id="longitude" class="d-none" th:text="*{longitude}"></li>
          </ul>

          <!-- Tags -->
          <h4 class="m-0">Tags:</h4>
          <div class="tags-container p-1">
            <span class="badge" th:text="${tag.name}" th:each="tag : *{tags}" th:style="'background-color:' + ${tag.hexColor}"></span>
          </div>
        </div>
      </div> 

      <div class="mt-3">
        <div class="row g-2 px-2 mb-4">
          <!-- Description -->
          <div class="col-12"> 
            <h4 class="m-0">Description:</h4>
            <p class="d-inline m-0" th:text="*{description}"></p>
          </div>

          <!-- Reflections -->
          <div class="col-12 col-md-6"> 
            <h4 class="m-0">Positive Reflection:</h4>
            <p class="d-inline m-0" th:text="*{reflectionPos}"></p>
          </div>
          <div class="col-12 col-md-6"> 
            <h4 class="m-0">Negative Reflection:</h4>
            <p class="d-inline m-0" th:text="*{reflectionNeg}"></p>
          </div>
        </div>


        <!-- Map -->
        <div id="map" class="rounded rounded-4" style="height: 500px;"></div>
      </div>
    </main>
  </body>
</html>
