<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta th:field="*{viewport}" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>

    <!-- FAVICON -->
    <link rel="icon" href="#" sizes="16x16 24x24 48x48 64x64 128x128" />

    <!-- IMPORT CSS -->
    <th:block th:replace="~{fragments :: import-css}"></th:block>
  </head>
  <body>
    <!-- Header -->
    <header>
      <th:block th:replace="~{fragments :: navbar('none')}"></th:block>
    </header>

    <!-- Main -->
    <main class="container my-5" th:object="${travel}">
      <img th:src="*{photos}" class="card-img-top" alt="...">
      <p class="card-text" th:text="*{videos}"></p>
      <p class="card-text" th:text="*{place}"></p>
      <p class="card-text" th:text="*{description}"></p>
      <p class="card-text" th:text="*{date}"></p>
      <p class="card-text" th:text="*{feelings}"></p>
      <p class="card-text" th:text="*{reflectionPos}"></p>
      <p class="card-text" th:text="*{reflectionNeg}"></p>
      <p class="card-text" th:text="*{strengthRating}"></p>
      <p class="card-text" th:text="*{monetaryRating}"></p>
      <p class="card-text" th:text="*{cost}"></p>
      <div class="tags-container">
        <span class="badge" th:text="${tag.name}" th:each="tag : *{tags}" th:style="'background-color:' + ${tag.hexColor}"></span>
      </div>

      <!-- Edit Travel -->
      <a class="btn btn-warning" th:href="@{/travel/edit/{id} (id=*{id})}">Edit Travel</a>
    </main>
  </body>
</html>
